{
  "extends": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "flowtype",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
