{
  "extends": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "flowtype",
    "prettier",
    "react"
  ],
  "rules": {
    "no-unused-vars": [ERROR, {"args": "all", "argsIgnorePattern": "^_"}],
    "react/jsx-uses-react": ERROR,
    "react/jsx-uses-vars": ERROR,
    "prettier/prettier": ERROR
  }
}
