/* Grid default theme */

.Grid {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* Without this property, Chrome repaints the entire Grid any time a new row or column is added.
     Firefox only repaints the new row or column (regardless of this property).
     Safari and IE don't support the property at all. */
  will-change: transform;
}

.Grid__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
}

.Grid__cell {
  position: absolute;
}

/* FlexTable default theme */

.FlexTable {
}

.FlexTable__Grid {
  overflow-x: hidden;
}

.FlexTable__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.FlexTable__headerTruncatedText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.FlexTable__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.FlexTable__headerColumn,
.FlexTable__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}

.FlexTable__headerColumn:first-of-type,
.FlexTable__rowColumn:first-of-type {
  margin-left: 10px;
}
.FlexTable__headerColumn {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}
.FlexTable__sortableHeaderColumn {
  cursor: pointer;
}
.FlexTable__rowColumn {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.FlexTable__sortableHeaderIconContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.FlexTable__sortableHeaderIcon {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 24px;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.FlexTable__truncatedColumnText {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* VirtualScroll default theme */

.VirtualScroll {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.VirtualScroll__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
}

.VirtualScroll__row {
  position: absolute;
}
