.List {
  width: 100%;
  border: 1px solid #DDD;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 25px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.placeholder {
  display: inline-block;
  height: 1em;
  background-color: #DDD;
}

.cacheButtonAndCountRow {
  display: flex;
  align-items: center;
}
.button {
  flex: 0 0 auto;
  background-color: #4db6ac;
  color: #fff;
  appearance: none;
  border: none;
  padding: .5em 1em;
  border-radius: .35em;
  font-size: 1em;
}
.cacheCountRow {
  flex: 1 1 auto;
  text-align: right;
  color: #bdbdbd;
  font-size: .75em;
  font-weight: 100;
}
