.FlexTable {
  width: 100%;
}

.headerRow,
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerRow {
  font-weight: 700;
  text-transform: uppercase;
}
.headerTruncatedText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.row {
}

.headerColumn,
.rowColumn {
  display: flex;
  margin-right: 10px;
  min-width: 0px;
  overflow: hidden;
}

.headerColumn:first-of-type,
.rowColumn:first-of-type {
  margin-left: 10px;
}
.headerColumn {
  flex-direction: row;
  align-items: center;
}
.sortableHeaderColumn {
  cursor: pointer;
}
.rowColumn {
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
}

.truncatedColumnText {
  text-overflow: ellipsis;
  overflow: hidden;
}
