.FlexTableExample {
  flex: 0 0 450px;
}

.FlexTable {
  width: 100%;
  margin-top: 15px;
}
.row {
  border-bottom: 1px solid #EEE;
}
.exampleColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
