.FlexTable {    
}   

.FlexTable__headerRow {   
  font-weight: 700;   
  text-transform: uppercase;    
}   
.FlexTable__headerTruncatedText {   
  white-space: nowrap;    
  text-overflow: ellipsis;    
  overflow: hidden;   
}   
.FlexTable__row {   
}   

.FlexTable__headerColumn,   
.FlexTable__rowColumn {   
  margin-right: 10px;   
  min-width: 0px;   
}   

.FlexTable__headerColumn:first-of-type,   
.FlexTable__rowColumn:first-of-type {   
  margin-left: 10px;    
}   
.FlexTable__headerColumn {    
  align-items: center;    
}   
.FlexTable__sortableHeaderColumn {    
  cursor: pointer;    
}   
.FlexTable__rowColumn {   
  justify-content: center;    
  flex-direction: column;   
}   

.FlexTable__sortableHeaderIconContainer {   
  display: flex;    
  align-items: center;    
}   
.FlexTable__sortableHeaderIcon {    
  flex: 0 0 24px;   
  height: 1em;    
  width: 1em;   
  fill: currentColor;   
}   

.FlexTable__truncatedColumnText {   
  text-overflow: ellipsis;    
  overflow: hidden;   
}
