.FlexTableExample {
  flex: 0 0 450px;
}

.FlexTableExample__FlexTable {
  width: 100%;
  margin-top: 15px;
}
.FlexTableExample__FlexTable__row {
  border-bottom: 1px solid #EEE;
}
.FlexTableExample__exampleColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
