.FlexTableExample {
}

.FlexTableExample__container {
  display: inline-block;
  border: 1px solid #ADC4D1;
  border-radius: 5px;
}

.FlexTableExample__FlexTable {
  padding: 5px;
}
.FlexTableExample__exampleColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.FlexTableExample__input,
.FlexTableExample__label {
  display: inline-block;
  margin: 0 10px 5px 0;
  width: 70px;
  box-sizing: border-box;
}
.FlexTableExample__input {
  border: 0.1rem solid #ADC4D1;
  border-radius: 0.1rem;
  padding: 0.2rem 0.4rem;
}
.FlexTableExample__label {
  color: #6B8AA1;
  font-size: 10px;
}
