body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 14px;
  color: #272727;
  background-color: #e0e0e0;
}
a {
  color: #409890;
}
* {
  box-sizing: border-box;
}

.headerRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #4db6ac;
}

.logo {
  width: 100px;
  height: 100px;
}

.ReactVirtualizedContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0;
}
.LogoColumn {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-transform: uppercase;
}
.PrimaryLogoText,
.SecondaryLogoText {
  text-transform: lowercase;
  font-size: 3em;
}
.PrimaryLogoText {
  font-weight: bold;
  color: #272727;
  margin: 0 .5em;
}
.SecondaryLogoText {
  color: #ffffff;
}

.NavList {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.ComponentList,
.HighOrderComponentList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.ComponentList {
  background-color: #272727;
}
.HighOrderComponentList {
  background-color: #111;
}

.demo {
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5rem 1rem;
}
.column {
  flex: 0 0 100%;
  max-width: 500px;
}

.footer {
  text-align: center;
  font-size: .75em;
  color: #37474f;
  margin: 0 0 1rem;
}

@media (max-width: 500px) {
  .logo {
    width: 50px;
    height: 50px;
  }

  .PrimaryLogoText,
  .SecondaryLogoText {
    font-size: 2em;
  }
}
