.ComponentLink {
  display: inline-block;
  padding: 1em;
  color: #bdbdbd;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
}
.ComponentLink:hover {
  color: #fff;
}
.ActiveComponentLink {
  color: #fff;
}

@media (max-width: 600px) {
  .ComponentLink {
    padding: .5em;
    font-size: .75rem;
  }
}

@media (max-width: 500px) {
  .ComponentLink {
    font-size: .5rem;
  }
}
