.ComponentLink {
  display: list-item;
  background: none;
  border: none;
  padding: .6rem;
  color: #bdbdbd;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  transition: .2s all;
}
.ComponentLink:hover {
  color: #fff;
}
.ComponentLink:focus {
  outline: none;
  background: rgba(255,255,255,.08);
}
.ActiveComponentLink {
  color: #fff;
}
.DisabledComponentLink {
  pointer-events: none;
  opacity: 0.5;
}
