.ContentBox {
  padding: 15px 20px 20px;
  background-color: #FFF;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.15);
  border-radius: 2px;
  margin: 10px;
}

.ContentBoxHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  justify-content: space-between;
  margin: 0 0 10px;
}
.ContentBoxHeader__small {
  font-size: 12px;

}
.ContentBoxHeader__link:hover {
  text-decoration: none;
}

.ContentBoxParagraph {
  line-height: 1.4rem;
  margin: 0 0 10px;
}
