.ContentBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  padding: 0 1rem 1rem 1rem;
  overflow: auto;
  background: white;
}
.ContentBox:first-of-type {
  padding-top: 1rem;
}

.Header {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  justify-content: space-between;
  margin: 0 0 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}
.Small {
  font-size: .65em;
}
.Link:hover {
  text-decoration: none;
}

.Paragraph {
  flex: 0 0 auto;
  line-height: 1.2rem;
  margin: 0 0 1rem;
}
