.LabeledInput {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-width: 0;
  margin: 0 10px 5px 0;
}
.LabeledInput:last-of-type {
  margin-right: 0;
}

.Label {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.Input {
  appearance: none;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: 5px 0;
  font-size: 1em;
  font-weight: 300;
  background-color: transparent;
}
.Input:focus {
  outline: 0;
}
.Input::placeholder {
  color: #e0e0e0;
}
.Input:disabled {
  opacity: .5;
}

.Label {
  color: #bdbdbd;
  font-size: .75em;
  margin-bottom: 5px;
  font-weight: 100;
}
.LabelDisabled {
  opacity: .5;
}

.InputRow {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
