.NavListItem {
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.NavLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: lowercase;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.ActiveNavLink,
.NavLink:hover {
  color: #FFF;
}
