.NavListItem {
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}

.NavLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 1em .5em;
  border-bottom: .5em solid transparent;
  font-size: 1.2em;
  color: #FFFFFF;
  text-transform: lowercase;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.ActiveNavLink,
.NavLink:hover {
  border-bottom-color: #409890;
}

@media (max-width: 525px) {
  .NavLink {
    padding: 1em .5em .5em;
    font-size: 1.1em;
  }
}

@media (max-width: 475px) {
  .NavLink {
    padding: 1em .5em .5em;
    font-size: .9em;
  }
}
