.Grid {
  border: 1px solid #e0e0e0;
}

.Cell {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.FocusedCell {
  background-color: #e0e0e0;
  font-weight: bold;
}

.Radio {
  margin-left: 0.5rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
}
.checkbox {
  margin-right: 5px;
}
