.VirtualScrollExample {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 12px;
}

.VirtualScrollExample__input,
.VirtualScrollExample__label {
  display: inline-block;
  margin: 0 10px 5px 0;
  width: 60px;
  box-sizing: border-box;
}
.VirtualScrollExample__input {
  border: 0.1rem solid #ADC4D1;
  border-radius: 0.1rem;
  padding: 0.2rem 0.4rem;
}
.VirtualScrollExample__label {
  color: #6B8AA1;
  font-size: 10px;
}

.VirtualScrollExample__VirtualScroll {
  width: 200px;
  border: 1px solid #ADC4D1;
}

.VirtualScrollExample__VirtualScroll__row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #DEEBF0;
}
