.demo {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 12px;
}
.demo__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.demo__row__VirtualScrollExampleColumn,
.demo__row__FlexTableExampleColumn {
  max-width: 100%;
  padding: 10px;
}
.demo__row__VirtualScrollExampleColumn {
  flex: 0 0 310px;
}
.demo__row__FlexTableExampleColumn {
  flex: 0 0 460px;
}

a {
  color: #4c8bf5;
}

* {
  box-sizing: border-box;
}

.headerRow {
  display: flex;
  flex-direction: row;
}
.headerColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
.headerTextPrimary,
.headerTextSecondary {
  margin: 0;
  color: #4c8bf5;
  font-style: italic;
}
.headerTextPrimary {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: normal;
}
.headerTextSecondary {
  font-size: 25px;
  text-transform: lowercase;
  font-weight: 100;
}
