/* Collection default theme */

.Collection {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* Without this property, Chrome repaints the entire Collection any time a new row or column is added.
     Firefox only repaints the new row or column (regardless of this property).
     Safari and IE don't support the property at all. */
  will-change: transform;
}

.Collection__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
}

.Collection__cell {
  position: absolute;
}

/* Grid default theme */

.Grid {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* Without this property, Chrome repaints the entire Grid any time a new row or column is added.
     Firefox only repaints the new row or column (regardless of this property).
     Safari and IE don't support the property at all. */
  will-change: transform;
}

.Grid__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.Grid__cell {
  position: absolute;
}

/* FlexTable default theme */

.FlexTable {
}

.FlexTable__Grid {
  overflow-x: hidden;
  box-sizing: border-box;
}

.FlexTable__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
.FlexTable__headerTruncatedText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.FlexTable__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.FlexTable__headerColumn,
.FlexTable__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}

.FlexTable__headerColumn:first-of-type,
.FlexTable__rowColumn:first-of-type {
  margin-left: 10px;
}
.FlexTable__headerColumn {
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.FlexTable__sortableHeaderColumn {
  cursor: pointer;
}
.FlexTable__rowColumn {
  justify-content: center;
  flex-direction: column;
  display: flex;
  overflow: hidden;
  height: 100%;
}

.FlexTable__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.FlexTable__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

.FlexTable__truncatedColumnText {
  text-overflow: ellipsis;
  overflow: hidden;
}

/* VirtualScroll default theme */

.VirtualScroll {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.VirtualScroll__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
}

.VirtualScroll__row {
  position: absolute;
}
