/* Collection default theme */

.ReactVirtualized__Collection {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* Without this property, Chrome repaints the entire Collection any time a new row or column is added.
     Firefox only repaints the new row or column (regardless of this property).
     Safari and IE don't support the property at all. */
  will-change: transform;
}

.ReactVirtualized__Collection__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
}

.ReactVirtualized__Collection__cell {
  position: absolute;
}

/* Grid default theme */

.ReactVirtualized__Grid {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* Without this property, Chrome repaints the entire Grid any time a new row or column is added.
     Firefox only repaints the new row or column (regardless of this property).
     Safari and IE don't support the property at all. */
  will-change: transform;
}

.ReactVirtualized__Grid__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

/* Table default theme */

.ReactVirtualized__Table {
}

.ReactVirtualized__Table__Grid {
  overflow-x: hidden;
  box-sizing: border-box;
}

.ReactVirtualized__Table__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.ReactVirtualized__Table__headerTruncatedText {    
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

/* List default theme */

.ReactVirtualized__List {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
