.Cell {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  padding: 0.5rem;
  background-color: #f7f7f7;
  word-break: break-all;
}

.checkboxLabel {
  margin-left: .5rem;
}
.checkboxLabel:first-of-type {
  margin-left: 0;
}
.checkbox {
  margin-right: 5px;
}